{% extends '@Frontend/base.html.twig' %}

{% form_theme editForm 'FrontendBundle:Form:custom_form_bootstrap_ace.html.twig' %}
{% form_theme dirForm 'FrontendBundle:Form:custom_form_bootstrap_ace.html.twig' %}

{% block mainView %}
    <h2>{{title}}</h2>
    <div class="col-sm-12 col-md-12 col-lg-6">
    	<div class="col-sm-12">
    		{{form_start(editForm, {'attr':{'id':'myForm'}})}}
    		{{form_widget(editForm)}}
    		{{form_end(editForm)}}
    	</div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
        <!-- Database tables! -->
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class="glyphicon glyphicon-chevron-up toggleCollapse pull-right"></span>
                        <span class="glyphicon glyphicon glyphicon-info-sign pull-left"></span>
                        Database's Tables
                    </h4>
                </div>
                <div class="panel-body" style="display: block;">
                    <div class="col-sm-12 animated fadeInDown" style="padding-bottom: 10px;">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="schemaSelect">Schema:</label>
                                <div class="col-sm-10">
                                    <select id="schemaSelect" class="form-control" name="schema"></select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive animated fadeInDown col-sm-12">
                        <table id="databaseTableNames" class="table table-hover header-fixed table-bordered table-condensed">
                            <thead>
                            <tr>
                                <th>Database Table Names</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 animated fadeInDown">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="openInTableInformationNewWindow"> Open in a new window
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Directory Form! -->
        <div class="col-sm-12">
            <div class="panel panel-default panel-dir-browser">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class="glyphicon glyphicon-chevron-up toggleCollapse pull-right"></span>
                        Folder Browser
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12">
                        <em>Saving Query in the path:</em>
                    </div>
                    <div class="col-sm-12" id="pathContainer"></div>
                    <div class="col-sm-12 no-side-padding">
                        <div class="col-xs-8" id="directoryContent"></div>
                        <div class="col-xs-4 no-side-padding left-border">
                            <div class="col-sm-12">
                                <h4>Add new folder</h4>
                            </div>
                            <div class="col-sm-12">
                                <!-- directory form -->
                                {{ form_start(dirForm, {"attr": {"id": "dirForm"}}) }}
                                {{ form_widget(dirForm) }}
                                {{ form_end(dirForm)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-chevron-down toggleCollapse pull-right"></span>
                    Instructions:
                </h4>
            </div>
            <div class="panel-body" style="display: none;">
                <ul class="list-group animated fadeInDown">
                    <li class="list-group-item">
                        <p>The <b>X Axis</b> will be taken for the first column from the left.</p>
                    </li>
                    <li class="list-group-item">
                        <p>For <b>Pie Charts</b> only two column tables are supported, being the first column
                        from left to right, the label and its value the right column</p>
                    </li>
                    <li class="list-group-item">
                        <p>For multiple <b>Y Axis Values</b>, the value of the <b>X Axis</b> will be taken
                        as the first column from left to right, as expected.
                            Each following column will be held as a <b>Y Axis</b></p>
                    </li>
                    <li class="list-group-item">
                        <p>
                            The <b>limitation of rows</b> happens in the insertion of a SQL <code>LIMIT</code> statement
                            over the requested query.
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p>
                            The Query should have all the desired tables explicitly stated in the Query, no <code>*</code>
                            selector allowed.
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p>
                            Using alias to the selected columns will override the charting's default Series name.
                            For example: <code>SELECT [column_name] as 'column title' ...</code>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p>
                            <b>Tip:</b> while editing the query, use the command <code>ctrl + r</code> or <code>cmd + r</code>
                            to test run the Query.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-sm-12">
            <div class="col-sm-4">
                <p class="details">Results are Pie Chart compatible: <code id="isPieChartCompatible"></code></p>
            </div>
            <div class="col-sm-4">
                <p class="details">Query execution time: <code id="queryDuration"></code></p>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-sm btn-default" type="button" id="runBtn">Test Run</button>
            </div>
        </div>
		<div class="col-sm-12">
			<table id="resultsTable" class="display table table-condensed table-bordered table-hover table-stripped">
				<!--table for previews-->
				<thead id="tablePreviewHead"></thead>
				<tbody id="tablePreviewBody"></tbody>
			</table>
		</div>
	</div>
    <script>

        var editor = new EditorManager(
            'codeEditor',
            'ace/theme/twilight',
            'ace/mode/sql',
            'query_request_query_query');

        editor.initializeEditor();
        editor.bindWithInputById();

        var queryId = "{{ queryRequest.id }}";

        var editFormManager = new FormManager('myForm', "{{ url('qcharts.api.query_get') }}",
                'PUT', $.ajax, "{{ url('qcharts.frontend.query_view', { 'queryId': queryRequest.id }) }}", undefined, queryId);
        editFormManager.bindFormWithService();

        var options = {
            "modal": {
                "id": "modal"
            },
            "loading": {
                "id": "homeBtn"
            }
        };

        var deleteController = new DeleteController(queryId, 'query_request_delete', $.ajax, "{{ url('qcharts.api.urls') }}", options);
        deleteController.initialize();

        var comService = new CommunicatorService($.ajax, undefined, "{{ url('qcharts.api.run_query') }}");
        editor.bindWithVariable(comService);
        comService.bindWithButton('runBtn');
        comService.bindInputForLimitById('query_request_config_queryLimit');
        comService.bindInputForConnectionById('query_request_config_databaseConnection');

        editor.setUpTestRunCommand(comService);


        var cronController = new CronController("myForm", "query_request[cronExpression]", "modal");
        cronController.init("query_request_config_isCached");

        var tableController = new TableController(
                'databaseTableNames',
                'myForm',
                'query_request_config_databaseConnection',
                'schemaSelect',
                $.ajax,
                '{{ url("qcharts.api.urls") }}',
                'modal'
        );

        // TODO: fix the bug that when selecting the live on just a page load the cron expression is not set!

        tableController.setEditor(editor);
        tableController.init("myDynamicTable");

        var dirController = new DirectoryController(
                'directoryContent',
                'pathContainer',
                'dirForm',
                'modal',
                'homeBtn',
                $.ajax,
                "{{ url('qcharts.api.urls') }}"
        );
        dirController.setInputFromForm("myForm");
        dirController.init();

    </script>
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js"></script>

    {% javascripts
        '@FrontendBundle/Resources/public/js/main/*'
        '@FrontendBundle/Resources/public/js/general/Classes.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
    "@FrontendBundle/Resources/public/js/vendor/cron/*"
    "@FrontendBundle/Resources/public/js/cron/*"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
    '@FrontendBundle/Resources/public/js/table/*'
    '@FrontendBundle/Resources/public/js/vendor/dataTables/*'
    '@FrontendBundle/Resources/public/js/vendor/dataTables/plugins/*'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@FrontendBundle/Resources/public/js/DeleteQuery/delete.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block stylesheets %}

    {% stylesheets
        '@FrontendBundle/Resources/public/css/vendor/dataTables/*'
        '@FrontendBundle/Resources/public/css/vendor/dataTables/plugins/*'
    %}
    <link rel="stylesheet" href="{{asset_url}}"/>
    {% endstylesheets %}

    {% stylesheets '@FrontendBundle/Resources/public/css/vendor/cron/*' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

{% endblock %}